<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>
  <body>
    <style>
        div {
            background-color: lightgrey;
            width: 1000px;
            font-size: x-large;
            border: 15px solid green;
            padding: 20px;
            margin: 20px;
            box-align: center;
        }
    </style>
    
    <body>
      <!--   <h1>
            <i>GOAL: Bridge the gap between the international and domestic students
                and facilitate more diverse interactions.</i>
        </h1> -->
        <div>
        Contact Kanchan Krishnna, kanchankrishna1063@gmail.com, if you have any questions. 
        </div>
  </body>
</html>
