<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Your Sets</title>
  </head>
  <body>
    <h1>Make your study sets here by entering a word and definition.</h1>
    <h2>Enter a word:</h2>
    <h2>Enter a definition:</h2>
    <button type="button">Click to add another word and definition</button>

    <button onclick="myFunction()">
      Click to add another word and definition
    </button>

    <script>
      function myFunction() {
         <h2>Enter a word:</h2>
         <h2>Enter a definition:</h2>
      }
    </script>
  </body>
</html>
